<form [formGroup]="productForm">
  <div class="product">

    <div class="product__name">
      <label class="product__label" for="productName">ProductName</label>
      <input type="text" class="product__input" id="productName" placeholder="Name(required)" formControlName="productName">
    </div>
    <div *ngIf="productName.invalid && (productName.touched || productName.dirty)">
      <div *ngIf="productName.errors?.required">Name is required.</div>
      <div *ngIf="productName.errors?.minlength">Name must be at least 3 characters long.</div>
    </div>

    <div class="product__code">
      <label class="product__label" for="productCode">ProductCode</label>
      <input type="text" class="product__input" id="productCode" placeholder="Code(required)" formControlName="productCode">
    </div>
    <div *ngIf="productCode.invalid && (productCode.touched || productCode.dirty)">
      <div *ngIf="productCode.errors?.required">Code is required.</div>
      <div *ngIf="productCode.errors?.minlength">Code must be at least 5 characters long.</div>
    </div>

    <div class="product__rating">
      <label class="product__label" for="rating">Product Rating (1-5)</label>
      <input type="text" class="product__input" id="rating" placeholder="Rating" formControlName="starsRating">
    </div>
    <div *ngIf="starsRating.invalid && (starsRating.touched || starsRating.dirty)">
      <div *ngIf="starsRating.errors?.required">Rating is required.</div>
      <div *ngIf="starsRating.errors?.range">Rating must be between 1 - 5</div>
    </div>

    <div formArrayName="tags">
      <div *ngFor="let tag of tags.controls; let i = index">
        <label class="tags__label" attr.for ="{{'tag' + i}}">Tag</label>
        <input type="text" class="tags__input" id="{{'tag' + i}}" placeholder="Tag" [formControlName]="i">
      </div>
    </div>
    <div class="tags"><button class="tags__add" (click)="addTag()">Add Tag</button></div>

    <div class="product__description">
      <label class="product__label" for="description">Description</label>
      <input type="text" class="product__input" id="description" placeholder="Description" formControlName="description">
    </div>
    <div *ngIf="description.invalid && (description.touched || description.dirty)">
      <div *ngIf="description.errors?.required">Description is required.</div>
    </div>

    <div class="product__price">
      <label class="product__label" for="price">Price</label>
      <input type="text" class="product__input" id="price" placeholder="Price" formControlName="price">
    </div>
    <div *ngIf="price.invalid && (price.touched || price.dirty)">
      <div *ngIf="price.errors?.required">Price is required.</div>
      <div *ngIf="price.errors?.price">Price must be a number.</div>
    </div>

    <div class="product__control">
      <button class="product__save" (click)="save()" [disabled]="!this.productForm.valid" *ngIf="!product">Save</button>
      <button class="product__edit" (click)="edit()" [disabled]="!this.productForm.valid" *ngIf="product">Edit</button>
      <button class="product__cancel" (click)="cancel()">Cancel</button>
      <button class="product__delete" (click)="delete()" [disabled]="!product">Delete</button>
    </div>
  </div>
  {{productForm.status}}
</form>
