.wrapper {
  width: 100%;
  min-height: 500px;
}

.home {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: url("/assets/welcome.png") no-repeat center 25%;
  color: #d4d4d4;

  &__developer {
    margin: 10px;
  }

  &__thanks {
    margin: 20px;
  }
}
