<div class="wrapper">
  <div *ngIf="product" class="product">
    <div class="product__column" >
      <div class="product__name" (click)="openDetail()">{{product.productName}}</div>
    </div>

    <div class="product__column">
      <div>{{product.productCode}}</div>
    </div>

    <div class="product__column">
      <div>{{product.price | currency}}</div>
    </div>

    <div class="product__column">
      <div>{{product.starsRating}}</div>
    </div>

    <div class="product__column">
      <div><button class="product__edit" (click)="edit()">Edit</button></div>
    </div>
  </div>

</div>
